<div class="add_product">
  <h1>Thêm sản phẩm</h1>
  <form class="form" [formGroup]="myForm">
    <input formControlName="name" placeholder="{{ this.product.name }}" />
    <input formControlName="price" placeholder="{{ this.product.price }}" />
    <input formControlName="imgUrl" placeholder="{{ this.product.imgUrl }}" />
    <input
      formControlName="description"
      placeholder="{{ this.product.description }}"
    />

    <button class="submit" (click)="updateProduct(myForm.value)">
      chỉnh sửa
    </button>
  </form>
  <!-- <img src="{{ product.imgUrl }}" /> -->
</div>
