<app-header></app-header>
<!-- *ngFor="let product of clothList$ | async" -->
<!-- <button (click)="addToStock(product)">thêm</button>
        <button (click)="removeFormStock(product)">bớt</button>
        <button (click)="removeFormCart(product)">xóa</button> -->

<!-- <div class="product">
  <h1>Giỏ hàng</h1>
  <div class="row1">
    <div class="boider-item">
      <div class="product-item">
        <div class="imageproduct">
          <img
            [src]="
              'https://bizweb.dktcdn.net/100/369/010/products/dm-20230726143201-001-copy.jpg?v=1690374286500'
            "
          />
        </div>
        <div class="name">
          <p>DC X OP LUFFY T-SHIRT - CREAM</p>
        </div>
        <div class="price">
          <p>12000</p>
          <p>1</p>
        </div>
        <button>thêm</button>
        <button>bớt</button>
        <button>xóa</button>

    </div>
    <div class="total">{{ total$ | async }}</div>
  </div>
</div> -->

<div class="product">
  <h1>Giỏ hàng</h1>
  <div class="border_product-item">
    <div class="border_left">
      <div class="left" *ngFor="let product of clothList$ | async">
        <div class="imageproduct">
          <img
            src="https://bizweb.dktcdn.net/100/369/010/products/dm-20230726143201-001-copy.jpg?v=1690374286500"
          />
        </div>
        <div class="name">
          <p>{{ product.name }}</p>
        </div>
        <div class="stock">
          <button (click)="removeFormStock(product)">-</button>
          <p>{{ product.stock }}</p>
          <button (click)="addToStock(product)">+</button>

          <button (click)="removeFormCart(product)">xóa</button>
        </div>
        <div class="price">
          <p>{{ product.price }}</p>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="top">
        <div class="title">Tổng tiền</div>
        <div class="total">{{ total$ | async }}</div>
      </div>
      <div class="bottom">
        <button class="sold">Thanh toán</button>
      </div>
    </div>
  </div>
</div>
