<app-header></app-header>


<!-- <div class="all" style="padding:130px 0">
  <form [formGroup]="userForm" >
    <input formControlName="name" placeholder="name"/>
    <input formControlName="email" placeholder="email"/>
    <button class="submit" (click)="register(userForm.value)">Đăng ký</button>
  </form>
</div> -->

<div id="collection">
  <h1>COLLAB'S</h1>
  <mat-icon>update</mat-icon>
</div>

<div class="product">
  <div class="login-container">
    <h1 style="font-size: 54px; margin-bottom: 5rem;">Register</h1>
    <form [formGroup]="userForm">
      <div class="container-input">
        <label for="name">Name:</label>
        <div class="group">
          <input class="input" type="text" id="name" formControlName="name" placeholder="name"/>
        </div>
      </div>
      <br />
      <div class="container-input">
        <label for="email">Email:</label>
        <div class="group">
          <input class="input" type="email" id="email" formControlName="email" placeholder="email"/>
        </div>
      </div>

      <br />
      <div class="container_button">
        <button class="button" type="submit" (click)="register(userForm.value)">
          Create Account
        </button>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
